#artBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10;
  /* padding: 2em; */
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  flex: 1 0 auto;
}
