.slidecontainer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  background: none;
  /* outline: none; Remove outline */
  opacity: 0.000; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.5s; /* 0.2 seconds transition on hover */
  transition: opacity 0.5s;
  border-radius: 0px;
  border: none;
  cursor: col-resize; /* Cursor on hover */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2px;
  height: 300px;
  background: #00000000;
  /* no rounded corners */
  border-radius: 0px;
}

.slider::-moz-range-thumb {
  appearance: none;
  border: none;
  width: 2px; /* Set a specific slider handle width */
  height: 300px;
  background: #00000000;
  border-radius: 0px;
}
